@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Gl4EFna1vELwGID6RewCCaXOrEHoH620fQ&usqp=CAU');
  
}



h3 {
  color: white;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.card {
  margin-top: 1rem;
  color: white;
  background-color: goldenrod;
  position: center;
  
}

#dogePic {
  height: 30vh;
  width: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: center;
}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid black;
  text-align: center;
  height: 30vh;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: #fff;
}
