@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107__480.jpg');
  
}

h4 {
  color: white;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;

}



h3 {
  color: white;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.card {
  margin-top: 1rem;
  color: white;
  background-color: purple;
  position: center;
  
}




